body{
	background-image: url("world1.jpg");
	background-size: 100%;
}
.entete{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	text-align: center;
	height: 100px;
	font-size: 1.8em;
	color: purple;
}
.milieu{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 100px;
	align-items: center;
	font-size: 2.8em;
	color: red;
	height: 300px;

}
.fin{
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 100px;
	font-size: 1.3em;
	color: blue;
}
.block1{
	display: flex;
	flex-direction: column;
	height: 150px;
}
.block2{
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	align-self: flex-end;
	border: 1px black solid;
}	
.block3{
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	border: 1px black solid;
}
#one{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: white;
	align-self: center;
	height: 60%;
	width: 400px;
}
#one1{
	background-color: yellow;
	align-self: center;
	height: 40%;
	width: 400px;
	text-align: center;
}
#two{
	background-color: powderblue;
}
#three{
	background-color: green;
}
.block3{
	display: flex;
	flex-flow: wrap;
	flex-direction: column;	
}
img{
	position: absolute;
	align-self: center;
	border-radius: 50%;
	margin-top: 50px;
}
