.one{
	grid-area: one;
}
.two{
	grid-area: two;
}
.three{
	grid-area: three;
}
.four{
	grid-area: four;
}
.five{
	grid-area: five;
}
.six{
	grid-area: six;
}
.seven{
	grid-area: seven;
	background-color: yellow;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}

#container{
	display: grid;
	grid-template-rows: repeat(4, 100px);
	grid-template-columns: 200px 500px;
	grid-template-areas: 
	"one four"
	"two five"
	"three six"
	"seven seven";
	grid-row-gap: 30px;
	grid-column-gap: 40px;justify-content: center;
}