ul{
	background-color: gray;
	list-style: none;
	margin: 20px;
	width: 100%;
	margin-left: 0px;
	display: inline-flex;

}
body{
	background-image: url(BlackPanther2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
	font-size: 2.8em;
	font-family: all;
	font-style: oblique;
	color: red;
}
p{
	color: gold;

@media screen
and (min-width: 300px)
and (max-width: 1280px) {

	

}
